section.patches-sec {
	background: linear-gradient(90deg, #297bb5 0%, #254470 100%) !important;
	position: relative;
}
section.patches-sec {
	/* background: linear-gradient(90deg, #297bb5 0%, #254470 100%) !important; */
	position: relative;
	padding: 4% 0;
	/* background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%) ! important; */
	background: radial-gradient(
		circle at 24.1% 68.8%,
		rgb(0, 0, 0) 0%,
		rgb(50, 50, 50) 99.4%
	) !important;
}
figure.patches-img {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.patches-content h1 {
	color: #ffffff;
	font-weight: 800;
	font-size: 44px;
}
.patches-content ul li {
	display: flex;
	align-items: baseline;
	color: #fff;
}
.patches-content ul li h5 {
	font-size: 13px;
	line-height: 1.5;
	padding-left: 10px;
}
.patches-content ul li i.fa.fa-circle {
	font-size: 9px;
}
.image-box-wrapper {
	display: flex;
	gap: 20px;
	align-items: center;
	margin-bottom: 30px;
}
.image-box-wrapper img.img-fluid {
	width: 25%;
	height: 73px;
	object-fit: fill;
}
.image-box-wrapper h5 {
	color: #ffffff;
	font-size: 14px;
	padding-right: 50px;
	text-transform: uppercase;
}
figure.lion-img-shadow-box.justify-content-center.d-flex img {
	padding: 30px 50px;
	box-shadow: 1px 1px 8px 0px rgb(59 49 49 / 60%);
	-webkit-box-shadow: 1px 1px 8px 0px rgb(59 49 49 / 14%);
	-moz-box-shadow: 1px 1px 8px 0px rgba(59, 49, 49, 0.6);
	border-radius: 4px;
	background-color: #fff;
	height: 478px;
	object-fit: fill;
}
ul.list-sports li {
	display: flex;
	gap: 13px;
	margin-bottom: 9px;
	align-items: baseline;
}
ul.list-sports li i {
	border: 1px solid black;
	border-radius: 50%;
	padding: 4px;
	font-size: 12px;
}
ul.list-sports {
	padding: 0px 0px 0px 20px;
	border-style: solid;
	border-width: 0px 0px 0px 5px;
	border-color: #265787;
	margin-top: 30px;
}
.banner.pricing a.butn.butn__new {
	background: #265787;
	margin-top: 0px;
}
section.custom-embriodered .border-bottom {
	height: 3px;
	background: #b2081c;
	margin-bottom: 20px;
}
section.custom-embriodered h2 {
	color: rgba(0, 0, 0, 0.8);
	font-family: "Roboto";
	font-size: 1.9rem;
	font-weight: 500;
	line-height: 1.1666em;
}
ul.determinig-size-list li {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 10px;
}
section.custom-embriodered p {
	margin-bottom: 50px;
}
ul.determinig-size-list li i {
	border: 1px solid black;
	border-radius: 50%;
	padding: 3px;
	font-size: 8px;
	background: #000;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}
ul.determinig-size-list li h6 {
	margin: 0;
}
.determining-size-content h4 {
	font-size: 30px;
	font-weight: 700;
	margin-bottom: 20px;
}
.table-wrapper table.table tr.table-header {
	text-align: center;
}
.table-wrapper table.table td {
	text-align: center;
}
.table-wrapper table.table {
	margin: 0;
}
.table-wrapper table.table th.cell {
	padding: 20px 15px !important;
	background: #4a4893 !important;
	font-size: 16px;
	font-weight: 600;
	font-family: "Montserrat", "sans-serif";
	line-height: 1;
	color: #fff;
	border-color: #000;
	border-width: 2px;
	border-style: none;
	background-clip: padding-box;
}
.table-wrapper table.table tbody tr td {
	padding: 18px 10px 0px 10 !important;
	font-size: 14px;
	font-family: "Montserrat", "sans-serif";
	line-height: 1;
	border-width: 2px;
	border-style: none;
	background-clip: padding-box;
}
.table-wrapper table.table tr {
	background: #eeeeee;
}
.table-wrapper table.table td.cell {
	padding-bottom: 30px !important;
}
.table-wrapper {
	margin-top: 60px;
}
section.custom-embriodered:before {
	content: " ";
	display: block;
	background-attachment: fixed;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	opacity: 0.1;
	padding: 6% 0 50px 0;
	background-image: url(../img/lapel-pin/lapel1.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	z-index: -3;
}

section.custom-embriodered {
	padding: 3% 0 50px 0;
	position: relative;
}
.for-size p a {
	color: #cc3366;
}
figure.lion-img-shadow-box.medels img {
	height: 382px !important;
}
.form-container {
	width: 100vw;
	height: 100vh;
	background-color: #7b2cbf;
	display: flex;
	justify-content: center;
	align-items: center;
}
.upload-files-container {
	/* background-color: #f7fff7; */
	width: 420px;
	padding: 30px 60px;
	border-radius: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	/* box-shadow: rgba(0, 0, 0, 0.24) 0px 10px 20px, rgba(0, 0, 0, 0.28) 0px 6px 6px; */
	padding: 0;
}
.drag-file-area {
	border: 2px dashed #fff;
	border-radius: 13px;
	margin: 10px 0 15px;
	padding: 30px 50px;
	width: 100%;
	text-align: center;
	border-width: 2px;
}
.drag-file-area .upload-icon {
	font-size: 50px;
}
.drag-file-area h3 {
	font-size: 21px;
	margin: 15px 0;
	color: #fff;
}
.drag-file-area label {
	font-size: 19px;
	text-align: center;
	display: contents;
	color: #fff;
}
.drag-file-area label .browse-files-text {
	color: #7b2cbf;
	font-weight: bolder;
	cursor: pointer;
	color: #ffffff;
	border-color: #cb1429;
	background-color: #cb1429;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	padding-top: 12px;
	padding-right: 40px;
	padding-bottom: 12px;
	padding-left: 40px;
	font-family: inherit;
	font-weight: inherit;
}
.browse-files span {
	position: relative;
	top: -25px;
}
.default-file-input {
	opacity: 0;
}
.cannot-upload-message {
	background-color: #ffc6c4;
	font-size: 17px;
	display: flex;
	align-items: center;
	margin: 5px 0;
	padding: 5px 10px 5px 30px;
	border-radius: 5px;
	color: #bb0000;
	display: none;
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.cannot-upload-message span,
.upload-button-icon {
	padding-right: 10px;
}
.cannot-upload-message span:last-child {
	padding-left: 20px;
	cursor: pointer;
}
.file-block {
	color: #f7fff7;
	background-color: transparent;
	transition: all 1s;
	width: 390px;
	position: relative;
	display: none;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 10px 0 15px;
	padding: 10px 20px;
	border-radius: 25px;
	cursor: pointer;
}
span.material-icons.remove-file-icon i {
	font-size: 26px;
	background-color: #cb1429;
	padding: 10px;
	border-radius: 5px;
}
.file-info {
	display: flex;
	align-items: center;
	font-size: 13px;
}
.file-icon {
	margin-right: 10px;
}
.file-name,
.file-size {
	padding: 0 3px;
}
.remove-file-icon {
	cursor: pointer;
}
.progress-bar {
	display: flex;
	position: absolute;
	bottom: 0;
	left: 4.5%;
	width: 0;
	height: 5px;
	border-radius: 25px;
	background-color: #4bb543;
}
.upload-button {
	color: #f7fff7;
	display: flex;
	align-items: center;
	font-size: 16px;
	border: none;
	border-radius: 5px;
	margin: 10px;
	padding: 15.5px 40px;
	cursor: pointer;
	background-color: #cb1429;
	width: 100%;
}
.form-control1 input {
	border-style: solid;
	border-width: 0;
	background-clip: border-box;
	border-color: #eeeeee;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	padding: 12px;
	margin-bottom: 10px;
}
select.form-select {
	border-style: solid;
	border-width: 0;
	background-clip: border-box;
	border-color: #eeeeee;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	padding: 12px;
	margin-bottom: 10px;
}
.custom-form {
	/* border: 1px solid black; */
	padding: 14px;
	border-style: solid;
	border-width: 0;
	background-clip: border-box;
	border-color: #cb1429;
	border-top-width: 4px;
	border-right-width: 4px;
	border-bottom-width: 4px;
	border-left-width: 4px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
h4.quick-quote.text-center {
	font-weight: 800;
	font-size: 36px;
	color: #fff;
	padding: 20px;
}
