h4.you-believe.aos-init {
	color: #ffffff;
	font-weight: 500;
	text-transform: capitalize;
}
.guarentee-heading {
	border-top: 10px solid;
	border-right: 10px solid;
	border-left: 10px solid;
	border-bottom: 10px solid;
	border-color: #254571;
	position: relative;
	border-radius: 10px;
}
.guarentee-heading h4 {
	text-align: center;
	padding: 10px 0 10px 0;
	background: #254571;
	color: #fff;
	font-weight: 700;
	text-transform: capitalize;
	margin: 0;
}
.guarentee-heading ul {
	padding: 20px;
}
.guarentee-heading ul li {
	padding-bottom: 10px;
}
.guarentee-heading ul {
	padding: 20px;
	border-radius: 2px;
	background: antiquewhite;
	margin: 0;
}
.guarentee-heading ul li h5 {
	color: #7a6969;
	font-size: 18px;
	text-transform: capitalize;
}
.guarentee-heading ul li h5 span {
	font-weight: 600;
	text-transform: capitalize;
}
section.form-quote {
	padding-top: 70px;
	padding-bottom: 50px;
}
.how-it-work-heading h2 {
	text-align: center;
	color: #615555;
	text-transform: capitalize;
}
.how-it-work-heading {
	padding-top: 20px;
}
.how-it-work-heading ul li {
	display: flex;
	align-items: center;
	gap: 15px;
	margin-bottom: 20px;
}
.how-it-work-heading ul li img {
	width: 30px;
	object-fit: fill;
}
.how-it-work-heading ul li h5 {
	color: #7a6969;
	font-size: 20px;
	line-height: 1.5;
}
.how-it-work-heading ul li h5 span {
	font-weight: 600;
	text-transform: capitalize;
}
.drop-zone {
	/* max-width: 200px; */
	height: 100%;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-family: "Quicksand", sans-serif;
	font-weight: 500;
	font-size: 20px;
	cursor: pointer;
	color: #cccccc;
	/* border: 4px dashed #009578; */
	/* border-radius: 10px; */
	background: #254571;
	border-radius: 7px;
	margin-top: 8px;
}
.banner {
	margin-top: 60px;
}
.banner a {
	width: 200px;
}
.drop-zone--over {
	border-style: solid;
}

.drop-zone__input {
	display: none;
}

.drop-zone__thumb {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	overflow: hidden;
	background-color: #cccccc;
	background-size: cover;
	position: relative;
}
label.form-label {
	font-weight: 800;
	color: #534d4d;
}
textarea#exampleFormControlTextarea1 {
	border: 2px solid;
	border-color: #254571;
	padding: 20px 0 10px 0px;
	margin-top: 0px;
	/* margin-bottom: 30px; */
	/* height: 150px; */
	resize: none;
}
.drop-zone__thumb::after {
	content: attr(data-label);
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 5px 0;
	color: #ffffff;
	background: rgba(0, 0, 0, 0.75);
	font-size: 14px;
	text-align: center;
}
.patches-are-form {
	padding: 20px 15px 10px 15px;
	border: 3px solid #254571;
	border-radius: 10px;
}
.patches-are-form input.form-control {
	border: 1px solid;
	border-color: #254571;
	padding: 10px;
	margin-top: 8px;
	margin-bottom: 0px;
}
.patches-are-form input.form-control {
	border: 2px solid;
	border-color: #254571;
	padding: 10px;
	margin-top: 8px;
	margin-bottom: 10px;
}
.patches-are-form input.form-control::placeholder {
	color: #7a6969;
	font-size: 16px;
}
.form-group label {
	font-weight: 800;
	color: #534d4d;
}
select.form-select {
	border: 2px solid;
	border-color: #254571;
	padding: 10px;
	margin-top: 8px;
	margin-bottom: 0px;
}
.form-group {
	margin-top: 8px;
}
.form-group.patche-group {
	display: flex;
	align-items: baseline;
	margin: 0;
	position: relative;
}
.form-group.patche-group label {
	background: #254571;
	width: 97px;
	height: 44px;
	position: absolute;
	top: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 2px;
	color: #fff;
}
.form-group.patche-group input {
	/* padding: 10px 0 0 0; */
	padding-left: 110px;
}
h5.calculator-patches {
	margin: 0;
	padding: 20px 0 0 0;
	font-weight: 800;
	color: #534d4d;
	font-size: 16px;
}

h2.size-text {
	text-align: center;
	padding: 29px 0 0 0;
	color: #ca2f40;
	text-transform: uppercase;
	font-size: 41px;
}
