/* Universal Css Start Here */

html {
	scroll-behavior: smooth;
}

body {
	font-family: var(--font-default);
}

p {
	font-size: 16px;
	font-family: "MYRIADPRO-REGULAR";
}

h1 {
	font-size: 50px;
	font-family: var(--font-MarcellusSC-Regular);
}

h2 {
	font-size: 50px;
	font-family: "OrpheusPro-Bold" !important;
}
h3 {
	font-family: "OrpheusPro-Bold" !important;
}
html {
	overflow-x: hidden;
	scroll-behavior: smooth;
}
body {
	background: linear-gradient(185deg, #d4494d, #d4494d, #445082, #445082);
	background-size: 500% 500%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.heading-image {
	text-align: center;
	margin: 20px 20px;
}
.form-heading {
	text-align: center;
}
.form-heading p a {
	color: #b7b7b7 !important;
	transition: 0.3s !important;
}
.form-heading h1 {
	color: #000;
	font-weight: 700;
}
.form-heading p {
	font-size: 23px;
	color: #fff;
	margin: 0;
	margin: 40px 0px;
}
.form-outline {
	padding-right: calc(10px / 2);
	padding-left: calc(10px / 2);
	margin-bottom: 10px;
}
.select-control {
	padding-right: calc(10px / 2);
	padding-left: calc(10px / 2);
	margin-bottom: 10px;
}
.form-outline input {
	background-color: #7d87a0;
	border-color: #ffffff;
	border-width: 0px 0px 0px 0px;
	border-radius: 5px 5px 5px 5px;
	padding: 13px;
	color: #ced4da;
	font-family: var(--font-default);
	font-size: 16px;
}
.form-outline input::placeholder {
	color: #ced4da;
	font-family: var(--font-default);
	font-size: 16px;
}
.select-control select {
	background-color: #7d87a0;
	border-color: #ffffff;
	border-width: 0px 0px 0px 0px;
	border-radius: 5px 5px 5px 5px;
	padding: 13px;
	color: #ced4da;
	font-family: var(--font-default);
	font-size: 16px;
}
.form-outline textarea#exampleFormControlTextarea1 {
	width: 100%;
	height: 110px;
	background-color: #7d87a0;
	border: none;
	margin-top: 27px;
	margin-bottom: 20px;
	resize: none;
	color: #ced4da;
	font-family: var(--font-default);
	font-size: 16px;
}
.form-outline textarea#exampleFormControlTextarea1::placeholder {
	color: #ced4da;
	font-family: var(--font-default);
	font-size: 16px;
}
.btn-wrapper .btn {
    background: #000;
    width: 100%;
    text-align: center;
    color: #fff;
    font-family: var(--font-default);
    font-size: 18px;
    border-radius: 5px 5px 5px 5px;
    height: 51px;
    /* margin: 0; */
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
}
section.form-wrapper {
	padding-bottom: 20px;
}
.social-icon-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
}
.social-icon-wrapper img {
	width: 60px;
	padding: 6px;
}
.form-outline:focus {
	border: none;
}
:focus-visible {
	outline: none !important;
}
.btn-wrapper {
	margin: 4px;
}

:focus {
    color: #212529 ! important;
    background-color: #fafdff;
    border-color: #ffffff;
    outline: 0;
    box-shadow: none !important;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
/*  */
/****** CODE ******/

.file-upload {
	display: block;
	text-align: center;
	font-family: var(--font-default);
	font-size: 16px;
}
.file-upload .file-select {
	display: block;
	border: 2px solid #dce4ec;
	color: #34495e;
	cursor: pointer;
	height: 46px;
	line-height: 42px;
	text-align: left;
	background: #ffffff;
	overflow: hidden;
	position: relative;
	padding: 0px 0px;
	margin: 5px 5px;
	border-radius: 4px;
}
.file-upload .file-select .file-select-button {
	background: #dce4ec;
	padding: 0 10px;
	display: inline-block;
	height: 43px;
	line-height: 46px;
}
.file-upload .file-select .file-select-name {
	line-height: 40px;
	display: inline-block;
	padding: 0 10px;
	color: #ced4da;
	font-family: var(--font-default);
	font-size: 16px;
}
.file-upload .file-select:hover {
	border-color: #7d87a0;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}
.file-upload .file-select:hover .file-select-button {
	background: #7d87a0;
	color: #ffffff;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}
.file-upload.active .file-select {
	border-color: #ced4da;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}
.file-upload.active .file-select .file-select-button {
	background: #ced4da;
	color: #ffffff;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}
.file-upload .file-select input[type="file"] {
	z-index: 100;
	cursor: pointer;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	filter: alpha(opacity=0);
}
.file-upload .file-select.file-select-disabled {
	opacity: 0.65;
}
.file-upload .file-select.file-select-disabled:hover {
	cursor: default;
	display: block;
	border: 2px solid #dce4ec;
	color: #34495e;
	cursor: pointer;
	height: 40px;
	line-height: 40px;
	margin-top: 5px;
	text-align: left;
	background: #ffffff;
	overflow: hidden;
	position: relative;
}
.file-upload .file-select.file-select-disabled:hover .file-select-button {
	background: #dce4ec;
	color: #666666;
	padding: 0 10px;
	display: inline-block;
	height: 40px;
	line-height: 40px;
}
.file-upload .file-select.file-select-disabled:hover .file-select-name {
	line-height: 40px;
	display: inline-block;
	padding: 0 10px;
}
/*  */
.pika-single {
	z-index: 9999;
	display: block;
	position: relative;
	color: #333;
	background: #fff;
	border: 1px solid #ccc;
	border-bottom-color: #bbb;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*
clear child float (pika-lendar), using the famous micro clearfix hack
http://nicolasgallagher.com/micro-clearfix-hack/
*/
.pika-single:before,
.pika-single:after {
	content: " ";
	display: table;
}
.pika-single:after {
	clear: both;
}
.pika-single {
	*zoom: 1;
}

.pika-single.is-hidden {
	display: none;
}

.pika-single.is-bound {
	position: absolute;
	box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.5);
}

.pika-lendar {
	float: left;
	width: 240px;
	margin: 8px;
}

.pika-title {
	position: relative;
	text-align: center;
}

.pika-label {
	display: inline-block;
	*display: inline;
	position: relative;
	z-index: 9999;
	overflow: hidden;
	margin: 0;
	padding: 5px 3px;
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
	background-color: #fff;
}
.pika-title select {
	cursor: pointer;
	position: absolute;
	z-index: 9998;
	margin: 0;
	left: 0;
	top: 5px;
	filter: alpha(opacity=0);
	opacity: 0;
}

.pika-prev,
.pika-next {
	display: block;
	cursor: pointer;
	position: relative;
	outline: none;
	border: 0;
	padding: 0;
	width: 20px;
	height: 30px;
	/* hide text using text-indent trick, using width value (it's enough) */
	text-indent: 20px;
	white-space: nowrap;
	overflow: hidden;
	background-color: transparent;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 75% 75%;
	opacity: 0.5;
	*position: absolute;
	*top: 0;
}

.pika-prev:hover,
.pika-next:hover {
	opacity: 1;
}

.pika-prev,
.is-rtl .pika-next {
	float: left;
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg==");
	*left: 0;
}

.pika-next,
.is-rtl .pika-prev {
	float: right;
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII=");
	*right: 0;
}

.pika-prev.is-disabled,
.pika-next.is-disabled {
	cursor: default;
	opacity: 0.2;
}

.pika-select {
	display: inline-block;
	*display: inline;
}

.pika-table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	border: 0;
}

.pika-table th,
.pika-table td {
	width: 14.285714285714286%;
	padding: 0;
}

.pika-table th {
	color: #999;
	font-size: 12px;
	line-height: 25px;
	font-weight: bold;
	text-align: center;
}

.pika-button {
	cursor: pointer;
	display: block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	border: 0;
	margin: 0;
	width: 100%;
	padding: 5px;
	color: #666;
	font-size: 12px;
	line-height: 15px;
	text-align: right;
	background: #f5f5f5;
}

.pika-week {
	font-size: 11px;
	color: #999;
}

.is-today .pika-button {
	color: #33aaff;
	font-weight: bold;
}

.is-selected .pika-button {
	color: #fff;
	font-weight: bold;
	background: #33aaff;
	box-shadow: inset 0 1px 3px #178fe5;
	border-radius: 3px;
	width: 30px;
	height: 30px;
	border: 1px solid #ced4da;
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.is-inrange .pika-button {
	background: #d5e9f7;
}

.is-startrange .pika-button {
	color: #fff;
	background: #6cb31d;
	box-shadow: none;
	border-radius: 3px;
}

.is-endrange .pika-button {
	color: #fff;
	background: #33aaff;
	box-shadow: none;
	border-radius: 3px;
	
}

.is-disabled .pika-button {
	pointer-events: none;
	cursor: default;
	color: #999;
	opacity: 0.3;
	
}

.pika-button:hover {
	color: #000;
	box-shadow: none;
	border-radius: 3px;	
}

/* styling for abbr */
.pika-table abbr {
	border-bottom: none;
	cursor: help;
}

/*! 
 * PikadayResponsive 
 * A responsive datepicker built on top of Pikaday. It shows the native datepicker on mobile devices and a nice JS-picker on desktop. 
 * 
 * @author: Francesco Novy 
 * @licence: MIT <https://www.opensource.org/licenses/mit-license.php> 
 * @link https://github.com/mydea/PikadayResponsive 
 * @copyright: (c) 2016 
 * @version: 0.6.7 
 */

.pikaday__container {
	display: inline-block;
	position: relative;
	width: 100%;
}
/* Height and width has to be equal! */
.pikaday__display,
.pikaday__invisible {
	width: 100%;
}

.pikaday__display--native {
	pointer-events: none;
	cursor: pointer;
}

.pikaday__display.is-invalid {
	background: rgba(255, 0, 0, 0.05);
}

.pikaday__invisible {
	opacity: 0;
	color: transparent;
	background: transparent;
	border: none;
	box-shadow: none;
	position: absolute;
	display: block;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
}
